.stylesEditor {
  width: 100%;
  background-color: white;
  padding: 7px;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  color: black;
}
