.main {
  width: 100vw;
  min-height: calc(100vh - calc(100vh - 100%));
  transition: all ease-out 0.4s;
  background-image: var(--);
  .logoWrap {
    width: auto;
    height: auto;
    img {
      width: auto;
      height: 50px;
    }
  }
}
