@import "/styles/abstracts/mixins";

.backgroundImageWrap {
  width: 100%;
  padding: 8px;
  margin-bottom: 0;
  .imageContentWrap {
    width: 100%;
    @include flexStart;
    gap: 10px;
    .uploadedImage {
      width: 100%;
      background: white;
      padding: 7px;
      border-radius: 4px;
      height: 154px;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* Resize the background image to cover the entire container */
    }
    .actionsWrap {
      width: 100%;
      width: 100%;
      @include flexStart;
      flex-direction: column;
      gap: 10px;
      .actions {
        width: 100%;
        @include flexStart;
        flex-direction: column;
        gap: 10px;
        padding: 12px;
        background: white;
        border-radius: 4px;
        .heading {
          @include heading;
          margin-bottom: 0;
          color: inherit;
        }
        .action {
          width: 100%;
          gap: 10px;
          @include flexStart;
        }
        &.updateImageBtn {
          width: 100%;
          border: 1px solid;
          font-size: 12px;
          height: 32px;
          padding: unset;
          @include flexCenter;
          @include hover;
          background: inherit;
        }
      }
    }
  }
}
.imageModalWrap {
  .bgImagesList {
    width: 100%;
    max-height: 60vh;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    padding: 4px;
  }
}
