@mixin hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin transition {
  transition: all ease-out 0.3s;
}
@mixin glass-card {
  backdrop-filter: saturate(200%) blur(30px);
  background-color: hsla(0, 0%, 100%, 0.8) !important;
}

@mixin flexCenter {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

@mixin flexStart {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

@mixin flexStartAlC {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

@mixin flexCenterCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
