$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$color-error: #ff003d;

:root {
  // --primary-color: #042953;
  --primary-color: #463c52;
  --primary-color-bg-image: linear-gradient(195deg, #463c52, #9d94ba);
  --primary-color-alpha: #9d94ba;
  --primary-color-beta: #d1d5e8;

  --secondary-color: #a599c0;
  --secondary-color-bg-image: linear-gradient(195deg, #a599c0, #9d94ba);
  --secondary-color-alpha: #9d94ba;
  --secondary-color-beta: #d1d5e8;

  --card-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);

  --primary-text-color: black;
  --primary-heading-color: #042953;

  --primary-font: "poppins-regular";
  --atlantika: "atlantika";
  --bringHeart: "bringHeart";
  --mvboli: "mvboli";

  --fullHeight: calc(100vh - calc(100vh - 100%));
}
