@import "/styles/abstracts/mixins";

.componentEditorWrap {
  position: relative;
  width: 100%;
  padding: 40px;
  border: 1px dashed transparent;
  color: rgb(0, 0, 0);
  background: white;
  border: 1px solid var(--lightest-slate);
  border-radius: 4px;
  @include transition;
}
